/eclipse/Server_Mock/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/client/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/peer/target/classes/*.class
/eclipse/Server_Mock/target/classes/*.class
/eclipse/Server_Mock/target/classes/*.class
/eclipse/Server_Mock/target/classes/*.class
/eclipse/Server_Mock/target/classes/*.class
/eclipse/Server_Mock/target/classes/*.class
/eclipse/Server_Mock/target/classes/*.class
/eclipse/peer/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/server/target/classes/at/ac/tuwien/software/architectures/ws2012/*.class
/eclipse/client/target/classes/at/ac/tuwien/software/architectures/ws2012/client/TestClass.class
